<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    
    <appSettings>
    <add key="port" value ="com3"/>
      <add key="serieFiscal" value ="0001"/>
    
  </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>

      <add name="FacturacionB2B" connectionString="Data Source=172.27.71.245;Initial Catalog=FacturacionB2B;User ID=FacturacionB2B;Password=facturacionb2b2017" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>